@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 1512px;
  height: 7361px;
  background-color: #fff;
  margin-left: 180px;
  font-family: 'Poppins', sans-serif;
}

.header {
  color: #FFFFFF;
}

.header__row {
  width: 1512px;
  height: 850px;
  background: url("/assets/img/header/bg.png");
}

.header .header-nav {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 58px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.header .header-nav__menu {
  width: 530px;
  height: 25px;
}

.header .header-nav__menu li {
  display: inline;
  margin-right: 46px;
  padding: 3px;
  font-size: 16px;
}

.header .header-nav__menu li a {
  padding: 5px;
  border-radius: 7px;
}

.header .header-nav__menu li a span {
  color: #FFFFFF;
}

.header .header-nav__menu li a:hover {
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .header-nav__menu li a:hover span {
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .header-nav__title {
  font-size: 48px;
  font-weight: 700;
  margin-right: 250px;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.header .header-nav__login {
  font-size: 20px;
  color: #fff;
  padding: 15px 25px;
  border-radius: 7px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid none;
}

.header .header-nav__login:hover {
  color: transparent;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F83B7F), to(#FA9A2F));
  background-image: linear-gradient(#F83B7F, #FA9A2F);
  border: 3px solid #FFFFFF;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .header-nav__login:hover span {
  color: #FFFFFF;
}

.header .header-nav__login:active {
  position: relative;
  top: 3px;
  background-color: #fff;
  background-image: none;
  border-radius: 7px;
  -webkit-box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
          box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-nav__login:active span {
  color: #000000;
}

.header .header-nav__link {
  margin-right: 180px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  width: 148px;
  height: 54px;
  border-radius: 7px;
  border: 3px solid none;
}

.header .header-nav__link span {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.header .header-nav__link:hover {
  color: transparent;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F83B7F), to(#FA9A2F));
  background-image: linear-gradient(#F83B7F, #FA9A2F);
  border: 3px solid #FFFFFF;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .header-nav__link:hover span {
  color: #FFFFFF;
}

.header .header-nav__link:active {
  position: relative;
  top: 3px;
  background-color: #fff;
  background-image: none;
  border-radius: 7px;
  -webkit-box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
          box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-nav__link:active span {
  color: #000000;
}

.header .header-title {
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-title h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 461px;
  margin-bottom: 28px;
  width: 580px;
  height: 204px;
  font-size: 90px;
  font-weight: 700;
  line-height: 113%;
  text-align: center;
  color: #fff;
}

.header .header-title__text {
  width: 862px;
  height: 46px;
  font-size: 20px;
  font-weight: 300;
  line-height: 113%;
  text-align: center;
  color: #fff;
  margin-left: 331px;
}

.header .header-media {
  width: 26px;
  height: 253px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .header-media__list {
  margin-left: 96px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.header .header-media__list li {
  margin-bottom: 56px;
}

.header .header-media__list li a {
  padding: 5px;
  padding-bottom: 13px;
  border-radius: 7px;
}

.header .header-media__list li a:hover {
  background-color: #000000;
  -webkit-box-shadow: 0px 4px 1px #FFFFFF;
          box-shadow: 0px 4px 1px #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-media__list li a:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #FFFFFF;
          box-shadow: 0px 2px 1px #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .media1 {
  -webkit-transform: translateX(px);
          transform: translateX(px);
}

.header .media1 img {
  padding: 0 5px;
}

.header .header-images {
  width: 1037px;
  height: 655px;
  -webkit-transform: translate(200px, -290px);
          transform: translate(200px, -290px);
}

.header .header-links {
  width: 694px;
  height: 79px;
  -webkit-transform: translate(430px, -150px);
          transform: translate(430px, -150px);
}

.content-main-about {
  background-image: url("/assets/img/content-main-about/bg-main.png");
  -webkit-transform: translateY(-230px);
          transform: translateY(-230px);
}

.content-main-about__row {
  width: 1510px;
  height: 2323px;
  -webkit-transform: translateY(490px);
          transform: translateY(490px);
}

.content-main-about__title {
  margin-top: 450px;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 113%;
  color: #231f20;
}

.content-main-about__smart-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 284px;
  width: 1244px;
  height: 665px;
  margin-bottom: 140px;
}

.content-main-about__what-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 284px;
  width: 1244px;
  height: 665px;
  margin-bottom: 140px;
}

.content-main-about__what-app p {
  -webkit-transform: translateX(-650px);
          transform: translateX(-650px);
}

.content-main-about__what-app span {
  -webkit-transform: translateX(-650px);
          transform: translateX(-650px);
}

.content-main-about__what-app img {
  -webkit-transform: translateX(560px);
          transform: translateX(560px);
}

.content-main-about__what-app div {
  -webkit-transform: translateX(-700px);
          transform: translateX(-700px);
}

.content-main-about__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 284px;
  width: 1244px;
  height: 665px;
}

.content-main-about .smart-home__title {
  height: 82px;
  width: 381px;
  left: 829px;
  top: 1710px;
  border-radius: nullpx;
}

.content-main-about .about-title {
  font-size: 36px;
  line-height: 113%;
  color: #231f20;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 120px;
}

.content-main-about .about-text {
  font-size: 24px;
  line-height: 125%;
  color: #73686b;
  height: 339px;
  width: 535px;
  border-radius: nullpx;
}

.content-main-about .about-link {
  width: 228px;
  text-align: center;
  padding: 15px;
  border: 2px solid #121a27;
  border-radius: 7px;
  -webkit-box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
          box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.content-main-about .about-link span {
  font-size: 20px;
  font-weight: 500;
  color: #121a27;
}

.content-main-about .about-link:hover {
  background-color: #121A27;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-main-about .about-link:hover span {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-main-about .about-link:active {
  background-color: #DE264C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-main-about .what-app__title {
  height: 82px;
  width: 397px;
  left: 120px;
  top: 2423px;
  border-radius: nullpx;
}

.content-main-about .what-app__text {
  height: 339px;
  width: 450px;
  left: 120px;
  top: 2521px;
  border-radius: nullpx;
}

.content-main-about .what-app__link {
  -webkit-transform: translateX(-650px);
          transform: translateX(-650px);
}

.content-main-about .control__title {
  height: 82px;
  width: 278px;
  left: 829px;
  top: 3181px;
  border-radius: nullpx;
  margin-bottom: 56px;
}

.content-main-clients {
  margin-top: 400px;
  margin-left: 232px;
}

.content-main-clients .clients__row {
  padding-top: 300px;
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1949px;
  height: 469px;
  background: url("/assets/img/content-main-clients/Ellipse 6.png") 1400px 0px no-repeat;
}

.content-main-clients .clients__title {
  padding-right: 700px;
  font-size: 90px;
  font-weight: 700;
  line-height: 113%;
  text-align: center;
  color: #231f20;
  margin-bottom: 40px;
}

.content-main-clients .clients__subtitle {
  margin-right: 700px;
  font-size: 20px;
  font-weight: 300;
  line-height: 113%;
  text-align: center;
  color: #121a27;
  margin-bottom: 88px;
  height: 70px;
  width: 786px;
  left: 363px;
  top: 4063px;
  border-radius: nullpx;
}

.content-main-clients .clients__column-body {
  margin-right: 700px;
  width: 1290px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.content-main-clients .clients__column-body li {
  display: inline-block;
  margin-right: 120px;
  margin-bottom: 60px;
}

.content-main-test {
  margin-top: 350px;
  margin-left: 460px;
}

.content-main-faq {
  margin-top: 146px;
  margin-left: 460px;
}

.footer {
  margin-top: 60px;
  margin-left: 460px;
}
