@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap'); //* Site Fonts

$color1: #FFFFFF;
$color2: #231F20;
$color3: #FFFFFF;   //* Basic colors
$color4: #73686B;
$color5: #121A27;
$color6: #555555;

$border1: 1px solid red; 
$border2: 1px solid blue; //*Borders
$border3: 1px solid rgb(127, 57, 207);

body{
  width: 1512px;
  height: 7361px;
  background-color: #fff;
}

.header {
  border: $border1;
  &__row {
    width: 1512px;
    height: 550px;
    background: url('/assets/img/header/bg.png');
    
  }

  .header-nav {

    &__menu {
    }

    &__title {
    }

    &__login {
    }

    &__link {
    }

    &__bg {
    }
  }
  .header-title {

    &__text {
    }
  }
  .header-media {

    &__list {
    }
  }
  .media1 {
  }
  .media2 {
  }
  .media3 {
  }
  .media4 {
  }
  .header-images {

    &__phones {
    }

    &__ellipse {
    }
  }
  .header-links {

    &__app-store {
    }

    &__gplay {
    }
  }
}